@model IEnumerable<WebApp.Services.StorehouseViewModel>

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Storehouses view</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (ViewBag.SupplierId != null)
                {
                    @Html.ActionLink("Add Supply", "Create", "Supply", new { 
                        supplyId = ViewBag.SupplierId, storehouseId = item.Id 
                    })
                }
                else
                {
                    @Html.ActionLink("Add Supply", "SelectSupplier", "Supplier", new { storehouseId = item.Id })
                    @Html.ActionLink("View Products", "Index", "Product", new { storehouseId = item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
